@media  screen and (max-width:768px){
    main, #desktop{
        display: none;
    }
    *{
        padding: 0;
        margin: 0;
    }
    #mainMobile{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0px;
        font-family: 'principal';
        background: linear-gradient(180deg,#d9280e, #e5c24f, black);
    }
    #mainMobile img{
        width: 40%;
    }
    #mainMobile #information{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    #mainMobile #information h1{
        font-size: 25px;
    }

    #mainMobile #information p{
        font-size: 15px;
    }
    #button1{
        padding: 10px 40px 10px 40px;
        margin: 20px;
        text-decoration: none;
        background-color: green;
        border-radius: 20px;
        border: none;
        font-size: 20px;
    }
    #button2{
        border: none;
        font-size: 15px;
        text-decoration: none;
        background-color: green;
        border-radius: 20px;
        margin-top: 2%;
        padding: 5px 20px 5px 20px;
        margin-bottom: 20px;
    }
    #mainMobile #information button:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid green;
    }
    

    /*TABELA*/
    #mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        border-collapse: collapse;
        border-spacing: 0px;
        margin: 0px;
        padding: 0px;
        font-family: 'music';
    }
    #mobile td{
        margin: 0px;
        padding: 0px;
    }
    .imgAlbum img{
        margin: 0px;
        padding: 0px;
        width: 50%;
    }
    .song{
        text-align: left;
        padding-left: 0px;
    }
    .title{
        text-align: left;
        padding-left: 0px;
    }
    .descripiton{
        font-size: 15px;
    }
    td{
        border-bottom: 2px solid #ddd;
    }
}