@media  screen and (max-width:768px){
    main, #desktop{
        display: none;
    }
    *{
        padding: 0;
        margin: 0;
    }

    #mainMobile{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0px;
        font-family: 'principal';
        background-image: linear-gradient(to bottom,#d9280e 15% ,#e5c24f, #2fa1c3 #191414 75% );
    }
    #mainMobile img{
        padding:10px;
        width: 50%;
    }
    #mainMobile #information{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    #mainMobile #information h1{
        font-size: 25px;
    }

    #mainMobile #information p{
        font-size: 15px;
    }
    #button1{
        padding: 15px 40px 15px 40px;
        margin: 10px;
        text-decoration: none;
        background-color: #1DB954;
        border-radius: 30px;
        border: none;
        font-size: 20px;
    }
    #button2{
        border: none;
        font-size: 15px;
        text-decoration: none;
        background-color: transparent;
        border-radius: 20px;
        margin-top: 2%;
        padding: 5px 20px 5px 20px;
        margin-bottom: 20px;
        border: 2px solid white;
    }
    #mainMobile #information button:hover{
        cursor: pointer;
        background-color: white;
        color: #191414;
        border: 2px solid #1DB954;
    }
    #fa-download{
        color: #1DB954;
    }

    /*TABELA*/
    #mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        border-collapse: collapse;
        margin: 0 auto;
        font-family: 'music';
    }
    .imgAlbum{
        width: 30%;
        padding-right: 10px;
    }
    .imgAlbum img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .title{
        font-size: 25px;
    }
    .descripiton{
        font-size: 15px;
    }
    td{
        padding-bottom: 25px;
        border-bottom: none;
    }

    #playerBottom{
        background-color: #191414;
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        border: .5px solid #191414;
        border-top: 1px solid  #ddd;
    }
    #playerBottom .imgAlbum{
        height: 60px;
        width: 70px;
    }
    #playerBottom .descripiton{
        font-size: 20px;
    }
    .hair, .pause{
        margin: 10px;        
        font-size: 30px;
    }
}

