@font-face {
    font-family: 'principal';
    src: url(../fonts/Gotham\ Bold.ttf);
}
@font-face {
    font-family: 'music';
    src: url(../fonts/circular-std-medium-500.ttf);
}
*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-image: linear-gradient(to bottom,#d9280e  ,#e5c24f, #2fa1c3, #191414 15% );
}
main{
    display: flex;
    flex-direction: row;
    margin: 2%;
    font-family: 'principal';
}
main img{
    width: 15%;
}
main #information{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    padding-left: 20px;
}
main #information h1{
    font-size: 250%;
}
main #information h3{
    font-size: 15px;
}
main #information p{
    font-size: 15px;
}
main #information #pause{
    display: flex;
    padding-top: 20px;
}
main #information #pause button{
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    background-color: #1DB954;
    border-radius: 20px;
    border: 2px solid #1DB954;
}
main #information button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

main #spam2{
    float: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#desktop{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    font-size: 20px;
    font-family: 'music';
}
#desktop tr:hover{
    background-color: rgb(87, 86, 86);
    cursor: pointer;
}
#desktop th{
    height: 50px;
}
#desktop td{
    padding: 15px;
}
#desktop th, td{
    border-bottom: .5px solid #ddd;
}
.td-hair{
    padding-left: 20px;
}
.music {
    text-align: left;
    padding-left: 20px;
}
.artist, .album{
    text-align: left;
    padding-left: 20px;
}
.duration, .add{
    text-align: center;
}


#mobile, #mainMobile{
    display: none;
}